
body {
    text-align: justify-all;
}
/* Navigational bar*/

nav{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: skyblue;
    filter: drop-shadow(6px 6px 6px #3d3c3c);

}

nav ul li {
    text-decoration: none;
    display: inline-block;
    padding: 20px 70px;
    font-size: 14px;
    transition-property: font-size;
    transition-duration: 0.25s;
    text-transform: uppercase;
    color: white;
}

nav ul li:hover {
    filter: drop-shadow( 4px 4px 4px black);
    font-size: 18px;
}

/* Banner */

#banner {
    background-image: url("./img/pattern.jpeg");
    background-position: center;
    background-size: cover;
    padding: 160px;
    margin-top: 80px;
}

#banner h1, h3 {
    text-align: center;
    color: rgba(18, 41, 154, 0.82);
    font-family: "Abril Fatface", SansSerif;
    text-transform: uppercase;
}

#banner h1 {
    font-size: 50px;
    font-weight: 900;

}

#banner h2 {
    font-size: 40px;
    font-weight: 500;
}

/* Article*/

article {
    padding-top: 50px;
    text-align: center;

}
article p {
    line-height: 1.5;
    font-family: "Anek Malayalam", Serif;
    font-size: 20px;
    font-weight: 300;
}

article p.bold {
    font-weight: 900;
}

/* table */

table {
    text-align: center;
    margin: 0 auto;
}

.tags {
    width: 80px;
    background-color: #ddf8f8;
}

.format {
    width: 400px;
    background-color: #d3d3d3;
}

.description {
    width: 400px;
    background-color: #d3d3d3;
}

.tabletitle {
    background-color: skyblue;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Abril Fatface", SansSerif;
}
table td, th{
    border: black 1px solid;
    height: 60px;
}

table th {
    background-color: #f8ffdf;
}

/*Help button*/

#help img {
    position: fixed;
    bottom: 10px;
    right: 20px;
    filter: drop-shadow(4px 4px 4px black);
    background-color: skyblue;
    border-radius: 50%;
}





